.box{
	padding-top: 40px;
}
.c{
  margin-left: 500px;
  margin-top: 30px; 	
  text-align: center;
}
/*.r1,.r2,.r3,.r4,.r5,.r6,.r7{
	margin-top: 20px;
	margin-bottom: 20px;
}
.l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8{
	margin-right: 20px;
	margin-left: 20px;
}
*/
.e{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
body {

	 background: url("background.jpg");
	 background-size: cover;
	 

}
.Jumbotron{
	color: white;
}
