.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: #2F4F4F;
  grid-gap: 0px;
  padding: 0px;
}

.grid-item {
  background-color: #d9b3ff;
  border: 2px solid #000000;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}
.grid-item-empty {
  background-color: #d9b3ff;
  border: 0px solid #000000;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}