.btn-space {
	margin: 5px;
}
	.btn:hover {
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }

.box-container {
	display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-gap: 5px;
    background-color: white;
    padding: 10px;
    margin-left: auto;
}

.innerBox {
	background-color: #ffff66;
	padding: 10px;
	border: 1px solid black ;
	padding: 42px;
	border-radius: 20%;
	opacity : 0.6;
}

.innerBox:hover {
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		opacity: 1 ; 
}

.text{
	font-size: 40px;
}

#submit {
	margin-left :50%;
}

.vanish{
	visibility : hidden;
}