.grid-container {
  display: inline-grid;
  grid-template-columns: 100px 100px 100px 100px  100px;
  grid-template-rows: 100px 100px 100px  100px 100px;
  background-color: #ffffff;
  grid-gap: 1px;
  padding: 1px;
}

.grid-item {
  background-color: #ffffff;
  border: none;
  padding: 40px;
  font-size: 30px;
  text-align: center;
}

.button {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  margin: 4px 2px;
  border-radius: 100%;
}
.removed {
	background-color: red;
}
.not_removed {
	background-color: black;
}

